<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Perfil</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/cursos.css}" />
</head>
<body>
    <h1>Editar Perfil</h1>
    <form action="#" th:action="@{/perfil/web/editar/{id}(id=${perfil.id})}" method="post">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" th:value="${perfil.nombre}" />
        </div>
        <div>
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" th:value="${perfil.apellido}" />
        </div>
        <div>
            <label for="correo">Correo Electronico:</label>
            <input type="email" id="correo" name="correo" th:value="${perfil.correo}" />
        </div>
        <div>
            <label for="nombreUsuario">Nombre de Usuario:</label>
            <input type="text" id="nombreUsuario" name="nombreUsuario" th:value="${perfil.nombreUsuario}" />
        </div>
        <div>
            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña" name="contraseña" th:value="${perfil.contraseña}" />
        </div>
        <!-- Agrega más campos según los atributos de tu entidad Curso -->
        <div>
            <button type="submit">Actualizar</button>
            <button type="button" th:onclick="|location.href='@{/perfil/web/listar}'|">Cancelar</button>
        </div>
    </form>
</body>
</html>