
*{
	
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

:root{
    --color-1:#222831;
    --color-2:#393E46;
    --color-3:#D65A31;
    --color-2:#EEEEEE;
}

.button_cerrar {
    background-color: #C22730; /* Color inicial */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px; /* Redondear el botón */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Agregar sombra */
}

.button_cerrar:hover {
    background-color: blue; /* Color al hacer hover */
}

.button_cerrar a {
    color: white; /* Color del texto */
    text-decoration: none; /* Quitar subrayado */
}

/* Estilos para el separador */
.separador {
    border: 1px solid red; /* Línea de color rojo */
    margin-top: 0;
    margin-bottom: 0;
}

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}



.contenido-textos p{
    padding: 0px 0px 50px 15px;
    font-weight: 300;
    text-align: justify;
}

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }


.textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#ffffff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.der{
	width: 100%;
    height: 600px;
    background: #004899;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(197, 95%, 61%, 0.459), hsla(194, 95%, 61%, 0.664)), url(../img/44.png);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(212, 100%, 30%),hsl(212, 100%, 30%)), url(/img/registro);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
}

     .fondo-con-movimiento {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .button_list {
    background-color: #C22730;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 20px 0; /* Separación entre los botones */
    width: 200px; /* Ancho fijo para todos los botones */
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px
}
        .button_list a {
            color: white;
            text-decoration: none;
        }

nav{
    background: #D65A31;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 2px 50px;
}
.logo{
    height: 75px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #222831;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #EEEEEE;
    transition: .9s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.container-subir{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.container-subir a{
    display: block;
    text-decoration: none;
    color: var(--color-2);
    background: var(--color-3);
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 100%;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}

.container-subir a:hover{
    background: var(--color-1);
    color: var(--color-3);
}


footer{
    background-color: var(--color-3);
    justify-content: center;
    padding: 5px;
    color: #fff;
}

.listas-footer {
    display: flex;
}

.listas-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#lista1,#lista2,#lista3,#lista4,#lista5{
    padding: 10px;
}

.listas-footer a{
    text-decoration: none;
    color: var(--color-1);
}

.final{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.final a{
    color: var(--color-1);
}

.final a:hover{
    background: var(--color-2);
    color: var(--color-1);
}

.final h6{
    padding: 13px;
    color: var(--color-1);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

:root{
    --color-1:#222831;
    --color-2:#393E46;
    --color-3:#D65A31;
    --color-2:#EEEEEE;
}

body{
    width: 100%;
}

nav{
    background: #D65A31;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 2px 50px;
}
.logo{
    height: 75px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #222831;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #EEEEEE;
    transition: .9s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.seccion-formulario{
    background-image: url(../img/portal.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 790px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario{
    width: 350px;
    background: #242322;
    padding: 40px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 14px 37px #fda7513d;
}

fieldset p{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#texto-usuario, #texto-contraseña{
    width: 100%;
    background-color: #242322;
    padding: 4px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-size: 13px;
    color: aliceblue;
}

#Mensaje{
    width: 100%;
    height: 100px;
    background-color: #242322;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid white;
    font-size: 13px;
    color: aliceblue;
}

.formulario p{
    margin-top: 10px;
}

.formulario fieldset{
    padding: 10px;
    border: none;
    padding: 5px;
}

.formulario legend{
    color:var(--color-2);
    border-bottom: 1px solid var(--color-3);
    margin-bottom: 4px;
}

.formulario textarea{
    resize: none;
}

.container-subir{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.container-subir a{
    display: block;
    text-decoration: none;
    color: var(--color-2);
    background: var(--color-3);
    width: 75px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 10%;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}

.container-subir a:hover{
    background: var(--color-1);
    color: var(--color-3);
}

.texto-usuario, .textos{
    color:var(--color-2)
}


.texto-final a{
    text-decoration: none;
    color:var(--color-3);
}

.texto-final p{
    font-size: 15px;
}

.sexo-formulario, .tipo-contacto{
    padding-bottom: 6px;
    display: flex;
    flex-direction: row;
    
}

.sexo-formulario h4, .tipo-contacto h4{
    color: var(--color-3);
    padding-right: 5px;
}


.sexo-formulario label, .tipo-contacto label{
    padding-left: 5px;
}

.sexo-formulario input, .tipo-contacto input{
    padding-left: 5px;
}

.texto-final{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content:center;
}

.boton-enviar{
    width: 100%;
    background-color: var(--color-3);
    border: none;
    padding: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}


.formulario h3{
    color:var(--color-3);
    text-align: center;
    margin-bottom: 20px;
}

footer{
    background-color: var(--color-3);
    justify-content: center;
    padding: 5px;
    color: #fff;
}

.listas-footer {
    display: flex;
}

.listas-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#lista1,#lista2,#lista3,#lista4,#lista5{
    padding: 10px;
}

.listas-footer a{
    text-decoration: none;
    color: var(--color-1);
}

.final{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.final h6{
    padding: 13px;
    color: var(--color-1);
}

@media (max-width: 1200px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 12px;
    }
}

@media (max-width: 1040px){
    #primeraimagen{
        position:static;
    }
    .checkbtn{
        display:inline-flex;
    }
    ul{
        position: fixed;
        width: 20%;
        height: 700px;
        background: var(--color-3);
        top: 80px;
        left: -100%;
        text-align: left;
        transition: all .5s;
    }
    nav ul li{
        display:block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: var(--color-2);
    }
    #check:checked ~ ul{
        left:0;
    }
}

@media (max-width: 1650px){
    #primeraimagen .texto2-promocion{
        font-size: 65px;
    }
    #primeraimagen .texto3-promocion{
        font-size: 20px;
    }
    .pinturas a {
        font-size: 20px;
        padding: 10px 70px;
    }
}

@media (max-width: 1300px){
    #primeraimagen .texto1-promocion{
        font-size: 23px;
    }
    #primeraimagen .texto2-promocion{
        font-size: 53px;
    }
    #primeraimagen .texto3-promocion{
        font-size: 18px;
    }
    .pinturas a {
        padding: 10px 21px;
        font-size: 20px;
    }
}

@media (max-width: 1058px){
    #primeraimagen .texto1-promocion{
        font-size: 20px;
    }
    #primeraimagen .texto2-promocion{
        font-size: 48px;
    }
    #primeraimagen .texto3-promocion{
        font-size: 15px;
    }
}